@import "_functions";

// ==== Table of content ====
// 1- General styles
// 2- Typography
// 4- Repeated effetcs
// 4- Animation
// 5- Buttons
// 6- Main content(desktop version)
// 7- Media queries(mobile verison)

// === General Styles ===

:root {
  ---clr--bg: rgb(27, 27, 37);
  --clr--black: #030306;
  --clr--green: rgb(108 163 63);
  --clr--fade-black: #48373e;
  --clr--fade-pink: #dbc1c6;
  --clr--brown: #aa6338;
  --clr--blue: rgb(77, 66, 237);
  --clr--aqua: #4ab0bc;
  --clr--purple-dark: rgb(130, 55, 242);
  --clr--purple-light: #ad25bd;
  --clr--red: rgb(194, 74, 75);
  --clr--gold: #d09f54;

  --clr--neutral-100: #fff;
  --clr--neutral-500: rgb(55, 55, 70);
  --clr--neutral-600: rgb(27, 27, 36);
  --clr--neutral-900: #000;

  --mg--size-100: 0.5rem;
  --mg--size-200: 0.75rem;
  --mg--size-300: 1rem;
  --mg--size-400: 1.5rem;
  --mg--size-500: 2rem;
  --mg--size-600: 3rem;
  --mg--size-700: 4rem;
  --mg--size-800: 6rem;
  --mg--size-900: 8rem;

  --txt--size-900: 3rem;
  --txt--size-800: 2.4rem;
  --txt--size-700: 1.92rem;
  --txt--size-600: 1.53625rem;
  --txt--size-500: 1.22875rem;
  --txt--size-400: 0.983125rem;
  --txt--size-300: 0.78625rem;
  --txt--size-200: 0.629375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: #fff;
}

body {
  font-family: poppins, sans-serif;
  background-color: var(--clr--neutral-600);
  padding-inline: var(--mg--size-400);
  overflow-x: hidden;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// === Typography ===
h1 {
  font-size: var(--txt--size-900);
  line-height: 1.3;
  font-weight: 600;
}
h2 {
  font-size: var(--mg--size-500);
  font-weight: 600;
}
h3 {
  font-weight: 600;
  font-size: var(--txt--size-400);
}
h4 {
  font-weight: 500;
  font-size: calc(var(--mg--size-300) - 0.2rem);
}
h5 {
  font-weight: 500;
  font-size: calc(var(--mg--size-300) - 0.3rem);
}
a {
  font-weight: 500;
  font-size: var(--txt--size-400);
}
p {
  font-weight: 300;
  font-size: var(--txt--size-300);
}
// === Animations ===

// === Repeated effects ==

%bottons-hover {
  box-shadow: 0 0 20px 0 rgba(77, 66, 237, 0.6);
  background: var(--clr--blue);
}

%navigation-hover {
  color: var(--clr--blue) !important;
  * {
    color: var(--clr--blue) !important;
  }
}

%category-hover {
  background-color: #fff;
  * {
    color: var(--clr--black);
  }
  box-shadow: 0 0 15px 0 rgba($color: #fff, $alpha: 0.3);
}
// === Buttons ===

// === Main content ===

header {
  @include flex(row, space-between, center);
  padding-block: var(--mg--size-100);
  position: relative;
  * {
    color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -1px;
    left: -1.5rem;
    width: 100vw;
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}

.wrap-left {
  @include flex(row, flex-start, center);
  gap: 4vw;
}

.navigation ul {
  @include flex(row, space-between, center);
  gap: 1rem;

  a {
    transition: 250ms;
    @include flex(row, flex-start, flex-end);
    gap: 0.25rem;

    &:hover,
    &:focus {
      @extend %navigation-hover;
    }
    span {
      height: 58px;
      transition: 1s;
    }
  }
}
.nav-links {
  line-height: 60px;
}
.navigation li {
  position: relative;
}
.nav-link {
  &:hover {
    .navmodal {
      visibility: visible;
      transform: translateY(100%) scaleY(1);
      ul {
        visibility: inherit;
        opacity: 1;
      }
    }
  }
}
.navmodal {
  position: absolute;
  * {
    color: var(--clr--black);
  }

  visibility: hidden;
  background-color: white;
  bottom: 0;
  width: 200px;
  border-radius: 3px;
  transform: translateY(110%) scaleY(0);
  left: 0;
  padding: 1rem;
  z-index: 1;
  transition: 250ms;
  transform-origin: top;
  ul {
    @include flex(column, flex-start, flex-start);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    transition-delay: 100ms;
  }

  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1;
    height: 20px;
    width: 20px;
    left: 0;
    border-radius: 1px;
    background: white;
    transform: rotate(45deg) translateY(-50%);
    z-index: -100000000;
    top: 0;
  }
}

.logo {
  width: 100px;
  img {
    width: 100%;
  }
}

.wrap-right {
  @include flex(row, flex-end, center);
  gap: 7vw;
}

.account {
  @include flex(row, space-between, center);
  gap: 2.5vw;
}

.search-icon {
  font-size: 1.5rem;
  vertical-align: bottom;
  height: 30px;
}

.wallet {
  cursor: pointer;
  @include flex(row, space-between, center);
  transition: 250ms;
  gap: 0.5rem;
  border: 2px solid var(--clr--blue);
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 500px;
  P {
    font-weight: 500;
    font-size: var(--txt--size-400);
  }
  span {
    height: 25px;
    font-size: 1.3rem;
  }
  &:hover {
    @extend %bottons-hover;
  }
}

.night-mode {
  @include flex(row, space-between, center);
  gap: 0.5rem;

  span {
    background-color: var(--clr--neutral-500);

    border-radius: 5px;

    padding-block: 0.4rem;
    padding-inline: 0.6rem;
    img {
      width: 18px;
      vertical-align: middle;
    }
  }
}
// ========================== hero =========================
#hero {
  @include flex(column, flex-start, stretch);
}

.hero__header {
  @include flex(row, space-between, center);
}
.hero__txt {
  @include flex(column, flex-start, flex-start);
  gap: 2rem;
}

.hero__title {
  span {
    background: linear-gradient(
      to bottom,
      var(--clr--purple-light) 20%,
      var(--clr--blue)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.hero__sub-title {
  opacity: 0.8;
  P {
    font-size: var(--txt--size-500) !important;
  }
}

.hero__buttons {
  @include flex(row, flex-start, flex-start);
  gap: 1rem;
  span {
    font-size: 1.3rem;
    fill: #fff;
  }
}

.hero__button {
  @include flex(row, flex-start, flex-start);
  @extend .wallet;
  p {
    font-size: var(--txt--size-400);
  }
}
.features {
  @include flex(row, space-between, flex-end);
  margin-block: var(--mg--size-700);
}
.feature {
  @include center(column);
  gap: 0.5rem;
}

.feature__title {
  margin-top: var(--mg--size-100);
}
.feature__sub-title {
  max-width: 31ch;
  opacity: 0.8;
}
.feature__img {
  background: var(--clr--blue);
  padding-inline: 0.8rem;
  padding-block: 0.6rem;
  border-radius: 10px;

  @include center(row);
  span {
    height: 26px;
    font-size: 1.3rem;
    display: block;
  }
}

.feature__collection {
  .feature__img {
    background: var(--clr--green);
  }
}

.feature__NFTs {
  .feature__img {
    background: var(--clr--purple-dark);
  }
}
.feature__sale {
  .feature__img {
    background: var(--clr--red) !important;
  }
}

#live-auctions {
  position: relative;
  padding-block: var(--mg--size-600);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5rem;
    z-index: -100;
    width: 100vw;
    background: var(--clr--black);
  }
}

.section__header {
  @include flex(row, flex-start, center);
}

.section__explore {
  margin-left: auto;
  position: relative;
  a {
    font-size: var(--txt--size-400) !important;
    font-weight: 400;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border: 500px;
    background: linear-gradient(
      to right,
      var(--clr--blue),
      var(--clr--purple-light)
    );
  }
}
.live__cards {
  @include flex(row, space-between, row);
  width: 130vw;
  gap: 1.5vw;
  position: relative;
  transition: 0.2s;
}
.live__card {
  @include flex(column, flex-start, flex-start);
  gap: 0.7rem;
  margin-top: var(--mg--size-400);
  background: var(--clr--neutral-500);
  max-width: 250px;
  padding: var(--mg--size-200);
  border-radius: 10px;
}

.card__shop {
  @include flex(row, center, center);

  gap: 0.5rem;
  width: 14ch;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: var(--clr--neutral-100);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 500px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  cursor: pointer;
  h4 {
    color: var(--clr--neutral-500);
  }
  span {
    * {
      color: var(--clr--blue);
      font-size: 1.3rem;
      height: 26px;
    }
  }
}

.timer {
  @include flex(row, center, center);
  background: black;

  padding-inline-start: 0.2rem;
  padding-inline-end: 1rem;
  padding-block: 0.2rem;
  position: absolute;
  bottom: 0%;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  gap: 0.4rem;
  background: var(--clr--neutral-500);
  transition: 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;

  span {
    font-size: 1.3rem;
    height: 26px;
    * {
      color: var(--clr--blue);
    }
  }

  .remaining-date {
    @include flex(row, space-between, center);
    gap: 1rem;
    position: relative;
  }
}

.remaining-date {
  .day {
    position: relative;
    &::after {
      content: ":";
      color: white;
      position: absolute;
      top: -1px;
      right: -1rem;
      bottom: 0;
      width: 10px;
      z-index: 20000;
    }
  }
  .hour {
    @extend .day;
  }
  .minute {
    @extend .day;
  }
}
.live__card.active {
  .timer {
    visibility: visible;
    transform: translateX(-50%) translateY(-30px);
    opacity: 1;
  }
  .card__shop {
    visibility: visible;
    opacity: 1;
  }
}
.card__image {
  position: relative;
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.card__creator-info {
  @include flex(row, flex-start, center);
  position: relative;
  gap: 0.5rem;
  width: 100%;
  padding-block-end: 0.8rem;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background: black;
    opacity: 0.5;
  }
}

.creator__img {
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
  }
}

.ceator__tag {
  p {
    font-size: var(--txt--size-200);
    opacity: 0.8;
  }
}

.creator__button {
  padding-block: 0.2rem;
  padding-inline: 0.6rem;
  background: var(--clr--blue);
  border-radius: 10px;
  margin-left: auto;

  p {
    font-size: var(--txt--size-200);
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.card__price-info {
  @include flex(row, space-between, center);
  width: 100%;
}
.card__price {
  @include flex(column, flex-start, flex-start);
  gap: 0.1rem;
  P {
    font-size: var(--txt--size-200);
    opacity: 0.8;
  }
  span {
    font-size: var(--txt--size-200);
    opacity: 0.8;
    font-weight: 300;
  }
}

.card__likes {
  @include flex(row, space-between, center);
  padding-inline: 0.6rem;
  padding-block: 0.15rem;
  border-radius: 8px;
  gap: 0.3rem;

  background: var(--clr--neutral-600);

  span {
    height: 18px;
  }
}

.card__slider {
  @include flex(row, center, center);
  margin-top: var(--mg--size-400);
  position: relative;
  left: -1.5rem;
  gap: 0.4rem;
  width: 100vw;
}

.card__arrow {
  height: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.card__circle {
  width: 15px;
  transform: scale(0.7) translateY(3px);

  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  transition: 150ms linear;
  @include center(row);
  &::after {
    content: "";
    width: 60%;
    aspect-ratio: 1;
    background: var(--clr--neutral-100);
    opacity: 0;
    border-radius: 50%;
  }
}

.card__circle.active {
  width: 12px;
  transform: scale(1) translateY(3px);

  &::after {
    opacity: 1;
  }
}

#popular-collection {
  @extend #live-auctions;
  &::after {
    background: var(--clr--neutral-600);
  }
  width: 100%;
}
.popular__cards {
  @include flex(row, space-between, center);
  margin-top: var(--mg--size-400);
}
.popular__card {
  background: var(--clr--neutral-500);
  max-width: 32.5%;
  width: 32.5%;

  padding: 1rem;
  border-radius: 10px;
}

.popular__images {
  display: grid;
  gap: 0.7rem;
  grid-template-areas:
    "one one one two two two"
    "three three four four five five";
  grid-auto-rows: 100px;
}

.popular__img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.popular__img:first-child {
  grid-area: one;
}
.popular__img:nth-child(2) {
  grid-area: two;
}

.popular__img:nth-child(3) {
  grid-area: three;
}
.popular__img:nth-child(4) {
  grid-area: four;
}
.popular__img:nth-child(5) {
  grid-area: five;
}

.p-creator__wrapper {
  @include flex(row, flex-start, center);
  gap: 0.5rem;
}
.p-creator__info {
  @include flex(row, space-between, center);

  margin-top: var(--mg--size-300);
  .card__likes {
    align-self: flex-start;
  }
}

.p-creator__image {
  img {
    width: 100%;
    border-radius: 20px;
    max-width: 60px;
  }
}

.art-name {
  @include flex(column, center, flex-start);
  gap: 0.15rem;

  P {
    color: rgba($color: #fff, $alpha: 0.8);
    font-size: var(--txt--size-200);
  }
  span {
    @extend h5;
    opacity: 1 !important;
    margin-left: 0.1rem;
  }
}

.t-creators {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 190px));
  grid-template-rows: 1fr 1fr;
  margin-top: var(--mg--size-400);
  align-items: center;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.t-creator {
  @include flex(row, flex-start, center);
  gap: 1rem;
}

.t-creator__image {
  max-width: 70px;
  position: relative;
  img {
    width: 100%;
    border-radius: 25px;
  }
  span {
    position: absolute;
    @include center(row);
    background: var(--clr--blue);
    border-radius: 50%;

    padding: 0.1rem;
    width: 20px;
    height: 20px;
    bottom: 8px;
    right: -4px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.t-creator__info {
  @include flex(column, center, flex-start);
  gap: 0.25rem;

  h5 {
    font-size: calc(var(--txt--size-300));
  }
  P {
    font-weight: 400;
    opacity: 0.5;
    font-size: var(--txt--size-200);
  }
}

#todays-pick {
  @include flex(column, flex-start, stretch);
  margin-top: var(--mg--size-600);
  gap: 1rem;
}
.options__wrapper {
  @include flex(row, space-between, center);
}
.categories {
  @include flex(row, flex-start, center);
  gap: 1rem;
  max-width: 50%;
}

.category {
  @include flex(row, flex-start, center);
  gap: 0.5rem;
  transition: 250ms;
  &:hover {
    @extend %category-hover;
  }
  span {
    font-size: 1.3rem;
    height: 26px;
  }
  p {
    font-size: var(--txt--size-300);
    font-weight: 500;
  }

  border: 1px solid var(--clr--neutral-100);
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 500px;
}

.price-range,
.sale-type,
.blockchain,
.sort,
.load-more {
  @extend .category;
}

.tp-cards {
  .live__card {
    max-width: 325px;
    margin-top: 0;
    align-items: center;
    .card__title {
      align-self: flex-start;
    }
  }
  .card__image {
    position: relative;

    .card__likes {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.view-history {
  @include flex(row, space-between, center);
  gap: 0.5rem;
  span {
    font-size: 1.1rem;
    height: 22px;
  }
  P {
    @extend h5;
    font-weight: 400;
  }
}

.tp-cards {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  align-content: flex-start;
  justify-content: space-between;
  row-gap: 2rem;
  margin-top: var(--mg--size-200);
}

.load-more {
  @include center(row);
  margin: auto;
  width: fit-content;
  margin-top: var(--mg--size-300);
  margin-bottom: var(--mg--size-600);

  P {
    font-size: var(--txt--size-400);
    font-weight: 400;
  }
}

footer {
  @include flex(row, space-between, flex-start);
  position: relative;
  padding-block: var(--mg--size-600);
  &::after {
    content: "";
    left: -1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150vw;
    background: var(--clr--neutral-900);
    z-index: -100;
  }
}

.f-logo {
  img {
    max-width: 100px;
  }
  P {
    max-width: 40ch;
    opacity: 0.8;
  }
}

.footer__links {
  @include flex(column, flex-start, flex-start);
  gap: 1rem;

  h4 {
    font-size: var(--txt--size-400);
  }
  P {
    opacity: 0.8;
    font-size: var(--txt--size-300);
    font-weight: 400;
  }
}

.footer__link:not(:first-child) {
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -2px;
    height: 1px;
    transform: scaleX(0);
    background-color: rgba($color: #fff, $alpha: 0.7);
    transition: 250ms;
    transform-origin: left;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

.subscribe {
  @include flex(column, space-between, flex-start);

  gap: 1rem;
  align-self: stretch;
  h4 {
    font-size: var(--txt--size-400);
  }
}

.email {
  width: 100%;
  margin-block: auto;

  position: relative;
  @include flex(row, space-between, center);
  button {
    all: unset;
    transition: 250ms;
    &:hover {
      filter: brightness(120%);
    }
    position: absolute !important;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 10px 10px 0 !important;
    padding-block: 0.9rem !important;
    padding-inline: 1.3rem;

    background: var(--clr--blue);

    span {
      font-size: 1.3rem;
      height: 26px !important;
      display: block;
    }
  }

  input {
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    outline: none;
    padding-inline-start: 1rem;
    padding-block: 1rem;
    border-radius: 10px;
    border-right: none;
    width: 100%;
    opacity: 0.8 !important;
    height: 100%;
    background: transparent;

    &::placeholder {
      @extend p;
    }
  }
}

.s-links {
  @include flex(row, space-between, center);
  width: 100%;
  gap: 1rem;
  margin-top: auto;
  transition: 250ms;
}

.s-link {
  border-radius: 3px;
  &:hover {
    filter: brightness(150%);
  }
  background: var(--clr--neutral-500);
  @include center(row);
  span {
    font-size: 1.5rem;
    height: 43px;
    padding: 0.5rem;
    display: block;
  }
}
